/* Hoofdtekst */
.hoofdtekst {
    -fx-fill: rgb(30,30,30);
}
.hoofdtekstLabel {
    -fx-text-fill: rgb(30,30,30);
}
.sidebarText {
    -fx-fill: rgb(30,30,30);
    -fx-border-width: 0.5 0 0 0;
    -fx-border-color: rgb(190, 190, 190);
}
/* Title */
.titleLabel {
    -fx-text-fill: rgb(30,30,30);
}
/* Groot input field */
.inputField .content {
    -fx-background-color: rgb(255,255,255);
}
.inputField {
    -fx-background-color: rgb(200,200,200);
    -fx-text-fill: rgb(30,30,30);
    -fx-font-size: 12.5px;
}
/* Klein input field */
.smallInputField {
    -fx-background-color: rgb(255,255,255);
    -fx-border-color: rgb(200,200,200);
    -fx-border-radius: 2 2 2 2;
    -fx-background-radius: 2 2 2 2;
    -fx-text-fill: rgb(30,30,30);
    -fx-font-size: 12.5px;
}
/* Hyperlink */
.instantHyperLink:link {
    -fx-text-fill: #20b3c9;
}
.instantHyperLink:hover {
    -fx-text-fill: #2fd4ed;
}
.instantHyperLink:visited {
    -fx-text-fill: #052429;
}
/* Buttons */
.methodButton {
    -fx-text-fill: rgb(30,30,30);
    -fx-background-color: rgb(255,255,255);
}

.sidebarButton {
    -fx-text-fill: rgb(30,30,30);
    -fx-background-color: rgb(226,226,226);
    -fx-border-color: rgb(190, 190, 190);
    -fx-border-width: 0.5 0 0.5 0;
}
/* TODO: Background Selector */
